
{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    ["flow"]
  ],
  "plugins": [
    "inferno",
    "syntax-decorators",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "react": "inferno-compat",
        "react-dom": "inferno-compat"
      }
    }]
  ]
}
